body{
    
}


/*Box 1*/
.box-1{
    background-color: #1f2937;
    color: white;
    height: 300px;
 
    margin-top: -20px;
    margin-right: -10px;
    margin-left: -10px;
    padding: 30px 100px;
}   


.header_logo{
    border: solid green 2px;
    margin: 0px;
    display: inline-block;

    width:20%;

    font-weight: 900; 
    color: #f9faf8;
}

.headerlink_container{
    float: right;
}

.hlink{
    border: solid pink 2px;
    margin: 0px;
    display: inline-block;

    width:auto;
    padding: 0px 10px;
    
    font-size: 0.80em;
    font-weight: 300;
}




/*Box 2*/

.box-2{
    background-color: white;
    color: black;
    height: 200px;

    padding: 50px;
}   

.box-3{
    background-color: #E5E7EB;
    color: black;

    margin-right: -10px;
    margin-left: -10px;
    height: auto;
    padding: 50px 100px;
}   


.header-logo{
   margin: 5px;

}

